<!DOCTYPE html>
<html lang="es">
<head>
    <%- include("partials/head") %>
</head>

<body class="bg-ligh-grey bg-img">
    
    <header class="bg-grey p-20">
        <%- include("partials/header") %>        
    </header>

    <main>
        <%- include("partials/product-list") %>
</main>
        
    
<%- include("partials/footer") %>

</body>  
</html>