<footer class="bg-grey padding-footer">
<ul class="flex-footer m-box-footer">
    <li class="p-footer box-footer"><a href="#">Contact</a></li>
    <li class="p-footer-i"><a href="#"><i class="fa-brands fa-instagram fa-xl" style="color: #e3e3e3;"></i></a></li>
    <li class="p-footer-i"><a href="#"><i class="fa-brands fa-facebook fa-xl" style="color: #e2e2e2;"></i></a></li>
    <li class="p-footer-i"><a href="#"><i class="fa-brands fa-youtube fa-xl" style="color: #e2e2e2;"></i></a></li>
    <li class="p-footer-i"><a href="#"><i class="fa-brands fa-twitter fa-xl" style="color: #e2e2e2;"></i></a></li>
    <li class="p-footer box-footer"><a href="#">Community</a></li>
</ul>

</footer>

